:root {
  --light: rgb(239, 255, 243);
  --dark: rgb(48, 56, 51);
}

.title {
  font-size: 40pt;
}

.lineUp {
  margin-bottom: -3rem;
  border: none;
}

.d-hide {
  color: var(--light);
}
.mainImage {
  background-size: cover;
  background-image: url(./pictures/laughingPeople.jpg);
  background-position: 50% 60%;
  text-shadow: 1px 1px 15px var(--dark);
  min-height: 35vw;
  color: var(--light);
}

.smallImg {
  max-width: 20rem;
  max-height: 34rem;
  margin-right: 3vw;
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--dark);
}

.transparentBG {
  background-color: rgba(61, 73, 65, 0.6);
  border-radius: 5px;
}

.posRelative {
  position: relative;
}

.posAbsolute {
  position: absolute;
  top: 8vw;
  right: 20vw;
  max-width: fit-content;
  height: fit-content;
  background-color: (var--light);
  box-shadow: 1px 1px 15px var(--dark);
  border-radius: 5px;
}

.card {
  max-width: 2rem;
  max-height: 3rem;
  background-color: (var--light);
  box-shadow: 1px 1px 15px var(--dark);
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
}

.bigCard {
  max-width: 15vw;
  max-height: 25vh;
  background-color: white;
  box-shadow: 1px 1px 15px var(--dark);
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
}

.listText {
  color: var(--dark);
  font-size: 12pt;
}

.mainButton {
  border-radius: 40px;
}

.glow:hover {
  box-shadow: 0 0 2em 1em #cde0d2;
  cursor: pointer;
}

.smallRow {
  min-height: 15vw;
  color: var(--light);
  background-color: #28a745;
}
.smallRow2 {
  min-height: 10vw;
  color: var(--light);
  background-color: #28a745;
}

.smallRow3 {
  min-height: 18vw;
  background-color: var(--dark);
}

.bigRow {
  min-height: 27vw;
  background-color: var(--light);
}

.shadow {
  text-shadow: 1px 1px 15px var(--dark);
}

@media only screen and (max-width: 575px) {
  .hidden {
    display: none;
  }
}

@media only screen and (max-width: 1367px) {
  .makeRoom {
    margin-top: 25rem;
  }
}
